
<h1> Teams </h1>
<p><%= link_to "New Team", '/teams/new' %></p>
<% @teams.each do |team| %>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title" style='display:inline;'><%= team.name%></h2>
        <p style='display:inline;'>Created at <%=team.created_at%></p> 
        <%= button_to "Delete #{team.name}", "/teams/#{team.id}", method: :delete%>
        <p> <%= link_to "Edit #{team.name}", "/teams/#{team.id}/edit" %>
      </div>
    </div>
  </div>
<%end%>

