<div>
<%= link_to "Competitors", '/competitors' %>
<%= link_to "Teams", '/teams' %>
</div>
<h1> Teams </h1>
<p><%= link_to "New Team", '/teams/new' %></p>
<% @teams.each do |team| %>
  <h2 class='team-name' style='display:inline;'><%= team.name%></h2>
  <p style='display:inline;'>Created at <%=team.created_at%></p> 
  <p> <%= link_to "Edit #{team.name}", "/teams/#{team.id}/edit" %>
  <br>
<%end%>

