<div>
<%= link_to "Competitors", '/competitors' %>
<%= link_to "Teams", '/teams' %>
</div>
<h1><%=@team.name%></h1>
<%= button_to "Update Team", "/teams/#{@team.id}/edit", method: :get%>
<p>Head Coach: <%=@team.head_coach%></p>
<p>Year founded: <%=@team.year_founded%></p>
<p><%=@team.is_brazilian_str%></p>
<p><%=@team.name%> has <%=@team.count%> competitor<%=@team.count == 1 ? '' : 's'%> at ADCC 2022</p>
<%=link_to "View #{@team.name} competitors", "/teams/#{@team.id}/competitors"%>
<%= button_to "Delete Team", "/teams/#{@team.id}", method: :delete %>

