<h1><%=@team.name%></h1>
<p>Head Coach: <%=@team.head_coach%></p>
<p>Year founded: <%=@team.year_founded%></p>
<p><%=@team.is_brazilian_str%></p>
<p>Atos has <%=@team.count%> competitors at ADCC 2022</p>
