<div>
<%= link_to "Competitors", '/competitors' %>
<%= link_to "Teams", '/teams' %>
</div>
<h1> <%=@team.name%> Competitors </h1>
<%@competitors.each do |c|%>
  <h2><%= c.name %></h2>
  <p>Weight class: <%= c.weight%></p>
  <p><%=c.won_lost_str%></p>
<%end%>
