<div>
<%= link_to "Competitors", '/competitors' %>
<%= link_to "Teams", '/teams' %>
</div>
<h1> <%=@team.name%> Competitors </h1>
<p> <%= link_to "Create Competitor", "/teams/#{@team.id}/competitors/new"%> </p>
<%= link_to 'Sort alphabetically', :sort_alphabetically => true%>
<%@competitors.each do |c|%>
  <h2 class='competitor-name'><%= c.name %></h2>
  <p>Weight class: <%= c.weight%></p>
  <p><%=c.won_lost_str%></p>
<%end%>
