<div>
<%= link_to "Competitors", '/competitors' %>
<%= link_to "Teams", '/teams' %>
</div>
<h1> Competitors </h1>
<% @competitors.each do |competitor| %>
  <h2><%= competitor.name%></h2>
  <%= button_to "Delete #{competitor.name}", "/competitors/#{competitor.id}", method: :delete%>
  <p><%= link_to "Edit #{competitor.name}", "/competitors/#{competitor.id}/edit" %>
  <p>Weight class: <%= competitor.weight%></p>
  <p><%=competitor.won_lost_str%></p>
<%end%>