
<h1><%=@competitor.name%></h1>
<%= button_to 'Update Competitor', "/competitors/#{@competitor.id}/edit", method: :get%>
<%= button_to 'Delete Competitor', "/competitors/#{@competitor.id}", method: :delete%>
<p>Weight class: <%= @competitor.weight%></p>
<p><%=@competitor.won_lost_str%></p>